[defaults]
inventory = inventory
interpreter_python = /usr/bin/python3
private_key_file = ~/.ssh/bjh-ansible
remote_user = ansible
#vault_password_file = /path/to/your/vault_pass_file

[ssh_connection]
pipelining = True
